body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #0f055b;
  color: white;
  padding: 1em;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.football-player-box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  height: 600px;
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.3s ease; 
}

.football-player-box img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}


.player-info {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
}

.player-info h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.player-info p {
  color: #555;
  margin: 5px 0;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #b28405;
}

.escudo {
  width: 100px;
  margin-right: 10px;
}

.football-player-box:hover {
  transform: scale(1.1); 
}


