.body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d98; 
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

h2 {
    color: #a50044; 
    margin-bottom: 10px;
}

p {
    color: #555;
    line-height: 1.6;
}

h3 {
    color: #004d98; 
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    main {
        padding: 20px;
    }
}

.image-collage {
    display: flex;
    margin-top: 20px;
}


